@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

body {
  font-size: 16px;
  color: $color-black;
  font-family: 'Montserrat', sans-serif;
}











/* ---------------------- Typography ---------------------- */

.h1,
h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 4rem 0 1rem;
  font-weight: 700;
}

h2.sub {
  font-size: 1.75rem;
  margin: 3rem 0 1rem;
  font-weight: 600;
}

h2.sub-capital {
  font-size: 0.85rem;
  margin: 3rem 0 0.5rem;
  font-weight: 500;
}

p {
  font-weight: 500;
}

p.tagline {
  font-size: 1.35rem;
  max-width: 800px;
  margin: 0 auto 1rem;
  font-weight: 500;
  color: rgba($color-black, 0.75);
}

p.lead {
  opacity: 0.6;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 1rem 0 1.75rem;
}

hr.small {
  border: solid 5px $color-black;
  margin: 3rem auto;
  width: 4rem;
}

a {
  color: $color-primary;
}




hr {
  border-top: solid 1px $color-border;
  margin: 4rem;
}









/* ---------------------- Panel Open Source ---------------------- */

.panel-open-source {
  background: $color-black;
  color: white;
  padding: 2.5rem;
  p.tagline {
    color: lighten($color-primary, 45);
    margin: 2rem 0 4rem;
  }
  .hero-image {
    margin-bottom: 2rem;
    max-width: 100%;
  }
  .media-body {
    img {
      float: left;
      margin-left: -40px;
    }
    p {
      color: lighten($color-primary, 45);
    }
  }
}












/* ---------------------- Homepage ---------------------- */

.products-panel-holder {
  .products-panel {
    padding: 0 2.5rem 5rem;
    img {
      width: 100%;
      margin: 2rem 0 0;
    }
    h5 {
      font-size: 1.65rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.75rem;
      margin-bottom: 1rem;
      color: rgba($color-black, 0.75);
    }
    .product-tag {
      font-size: 1.35rem;
      font-weight: 600;
    }
    a {
      margin-top: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0.5rem 0;
      border-top: solid 1px $color-border;
    }
  }
}















/* ---------------------- IP ---------------------- */

.ip-address {
  background: rgba($color-primary, 0.1);
  color: $color-highlight;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0.25rem;
}


.ip-address-why {
  text-align: center;
  background: rgba($color-primary, 0.1);
  margin: 1.5rem auto 3rem;
  padding: 0.5rem 1rem;
  width: fit-content;


  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: darken($color-primary, 10%);
  }
}














/* ---------------------- Product Hero ---------------------- */

.product-shot-main {
  img {
    margin-top: -6rem;
    max-width: 100%;
    height: auto;
  }
  h2 {
    margin-top: 0;
  }
}











/* ---------------------- Product Box ---------------------- */

.product-box {
  margin-bottom: 2rem;
  padding: 0 2rem;
  h2 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
  }
  p {
    font-size: 1rem;
    .intro {
      font-size: 1.1rem;
      font-weight: 600;
      display: block;
    }
  }
  .image-holder {
    margin: 0 0 2rem;
    height: 240px;
    vertical-align: middle;
  }
}











/* ---------------------- Buttons ---------------------- */

.btn {
  border-radius: 2px;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}

.btn-primary {
  background: $color-highlight;
  border-color: $color-highlight;
}

.btn-secondary {
  background: white;
  border-color: rgba($color-black, 0.35);
  color: $color-black;
}

.btn-cta {
  margin: 2rem 0 5rem;
  border-radius: 2px;
  min-width: 200px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.75rem;
  border: 0;
}

.btn-cta-normal {
  background: $color-primary;
  color: #2a2b2c;
}











/* ---------------------- Login ---------------------- */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100px;
    margin-top: 100px;
  }
  h2 {
    margin-top: 1.5rem;
  }
  .form-control {
    margin-bottom: 16px;
  }
}











/* ---------------------- General Page ---------------------- */

.general {
  margin: 5rem 0;
}











/* ---------------------- Product Page ---------------------- */

.delivery {
  margin-top: 54px;
  background: $color-grey;
  padding: 24px 4px;
  text-align: center;
  font-weight: 600;
  line-height: 1rem;
}

.panel-store {
  margin: 2rem 0;
  img {
    width: 100%;
    margin: 2rem 0;
  }
  p.version {
    margin: 0;
    text-transform: uppercase;
  }
  p.intro {
    font-size: 1.15rem;
  }
  .option-box {
    padding: 1rem 1rem 1.5rem;
    border: solid 1px grey;
    margin: 0 0 1rem;
    &.selected {
      background: #fff7e8;
      border-color: #ffda00;
    }
    h4.version {
      font-size: 1.15rem;
      font-weight: 600;
      margin: 0.5rem 0;
    }
    p.price {
      font-size: 2rem;
      margin: 0.5rem 0;
    }
    p.discount {
      text-decoration: line-through;
      color: red;
      font-size: 1.15rem;
      margin: 0;
    }
  }
  ul {
    margin: 2rem 0 0;
  }
}











/* ---------------------- Footer ---------------------- */

footer {
  color: $color-black;
  padding: 4rem 0 8rem;
  background: $color-grey;
  .form-group {
    display: inline-block;
  }
  .style-svg {
    fill: $color-black;
    height: $h-input-lg;
    width: auto;
  }
  h5 {
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 0.65;
    margin-bottom: 2rem;
  }
  .menu {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
      a {
        color: $color-black;
      }
    }
  }
  .footer-base {
    margin: 3rem 0 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }
}











/* ---------------------- Contact Form  ---------------------- */

.wpcf7 {
  label {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
  }
  p {
    margin: 0 0 0.5rem;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #fff;
    height: $h-input-lg;
    color: #000;
    width: calc(100% - 120px);
  }
  input[type="submit"] {
    height: $h-input-lg;
    margin-left: -1px;
    background: $color-primary;
    color: white;
    width: 120px;
  }
}











/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */

@media (min-width: 768px) {
  /* ---------------------- Typography ---------------------- */
  .h1,
  h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 5rem 0 1.5rem;
    font-weight: 600;
  }
  h2.caps {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  /* ---------------------- Homepage ---------------------- */
  .products-panel-holder {
    margin-bottom: 3.5rem;
    .products-panel {
      margin: 2.5rem 0;
      padding: 0 4rem;
    }
    >div:first-child {
      .products-panel {
        border-right: solid 1px $color-border;
      }
    }
  }
  /* ---------------------- Product Box ---------------------- */
  .product-box {
    margin-bottom: 2rem;
    padding: 0 2rem;
    h2 {
      font-size: 1.5rem;
      margin: 0 0 1rem;
    }
    p {
      font-size: 1rem;
    }
    .image-holder {
      margin: 0 0 2rem;
      height: 240px;
      vertical-align: middle;
    }
  }
  /* ---------------------- Panel Open Source ---------------------- */
  .panel-open-source {
    padding: 0;
    .hero-image {
      margin-bottom: 0;
    }
  }
  /* ---------------------- Product Hero ---------------------- */
  .product-shot-main {
    img {
      margin-top: -10rem;
    }
  }
}
