body {
  font-size: 16px;
  color: $color-black;
}

























/* ---------------------- Typography ---------------------- */

.h1,
h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: $color-black;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 4rem 0 1rem;
  font-weight: 700;
}

h2.sub {
  font-size: 1.75rem;
  margin: 6rem 0 4rem;
  font-weight: 600;
}

p.tagline {
  font-size: 1.05rem;
  font-weight: 400;
  margin: 1rem 0;
}

p.lead {
  color: white !important;
  opacity: 0.6;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 1rem 0 1.75rem;
}

hr.small {
  border: solid 5px $color-black;
  margin: 3rem auto;
  width: 4rem;
}

























/* ---------------------- Navigation ---------------------- */

.navbar {
  background: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .navbar-brand {
    background-image: url("../assets/images/logo-invizbox-w.png");
    height: 50px;
    width: 240px;
    background-repeat: no-repeat;
    padding: 0;
  }
  .nav-link,
  .banner .nav a {
    display: block;
    padding: 1rem;
  }
  &.scrolled {
    background: white !important;
    border-bottom: solid 1px $color-border;
    transition: 0.4s;
    box-shadow: 0 3px 3px rgba($color-black, 0.05);
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
      background-image: url("../assets/images/logo-invizbox.png");
    }
    .nav-link {
      color: $color-black;
    }
  }
  .wpmenucart-display-standard {
    padding: 1rem;
  }
  .wpmenucart-contents {
    padding: 0.25rem 1rem !important;
    background: $color-green;
    color: white;
    &:hover {
      background: lighten($color-green, 10%);
      text-decoration: none;
    }
  }
}

























/* ---------------------- Buckets ---------------------- */

.bucket {
  height: 100%;
  margin: 2rem 1rem;
  img {
    width: 50px;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.bucket-steps {
  text-align: center;
  padding: 0 2rem;
  img {
    margin-bottom: 1rem;
    width: 85%;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .badge {
    background: $color-primary;
    color: $color-black;
  }
}

























/* ---------------------- Feature Panels ---------------------- */

.media {
  margin: 4rem 0 0;
  h5 {
    font-size: 1.15rem;
    font-weight: 600;
  }
  img {
    width: 64px;
  }
}

























/* ---------------------- Panels ---------------------- */

.panel-wide {
  background: whitesmoke;
  margin: 0;
  padding: 1rem 0 7rem;
  clear: both;
}

.panel-testimonial {
  background: darken($color-primary, 10%);
  padding: 4rem 0;
  margin: 0;
  color: white;
  blockquote {
    display: inline;
    width: 70%;
  }
  p {
    font-size: 1.5rem;
    width: 70%;
    display: inline-block;
  }
  img {
    float: left;
    margin: 0 2rem 2rem 0;
    border: solid 2px white;
    width: 20%;
    height: auto;
  }
}






















/* ---------------------- Panel Open Source ---------------------- */

.panel-open-source {
  background: $color-black;
  color: white;
  padding: 2.5rem 0 0;

  p.tagline {
    color: $color-primary;
    margin: 2rem 0 4rem;
  }

  .media-body {
    img {
      float: left;
      margin-left: -40px;
    }
  }
}



















/* ---------------------- Bucket Detail ---------------------- */

.bucket-detail {
  &:nth-of-type(2n) {
    background: $color-grey;
    .bucket-content {
      -ms-flex-order: 1;
      order: 1;
    }
    .bucket-image {
      -ms-flex-order: 2;
      order: 2;
    }
  }
  img {
    margin: 4rem auto;
    display: inline-block;
  }
}

























/* ---------------------- Jumbotron ---------------------- */

.jumbotron {
  background: $color-black;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0;
  margin-bottom: 0;
  .jumbotron-detail {
    text-align: left;
    padding: 0;
    max-width: 600px;
    h1 {
      color: white;
      font-size: 4rem;
      line-height: 5rem;
    }
    .bucket {
      display: inline-block;
      margin: 0 1rem;
      a {
        color: rgba(255, 255, 255, 0.3);
      }
      img {
        opacity: 0.2;
        width: 100px;
        height: 60px;
      }
    }
  }
  .jumbotron-detail-product {
    text-align: center;
    padding: 12rem 2rem 10rem;
    h1 {
      color: white;
      font-size: 2.5rem;
    }
    p.lead {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin: 1.5rem 0 2rem;
    }
  }
}

























/* ---------------------- Homepage ---------------------- */

.products-panel-holder {
  .products-panel {
    padding: 0 3.5rem 5rem;
    img {
      width: 85%;
      margin: 2rem 0;
    }
    h5 {

      color: $color-black;
      font-size: 2.5rem;
      line-height: 3rem;
      margin-top: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      line-height: 2.25rem;
      margin-bottom: 1rem;
    }
    .product-tag {
      font-size: 1.35rem;
      font-weight: 600;
    }
    a {
      margin-top: 1rem;
    }
  }
}

























/* ---------------------- Pricing Panel ---------------------- */

.pricing-panel {
  background: $color-grey;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  position: relative;
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  p.price {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  p.discount {
    font-size: 1.2rem;
    text-decoration: line-through;
  }
  img {
    vertical-align: middle;
    height: 250px;
    width: auto;
    margin-bottom: 1rem;
  }
  .sale-tag {
    background: red;
    color: white;
    position: absolute;
    top: -1.5rem;
    padding: 0.5rem;
    margin-left: -1.5rem;
  }
  .btn {
    margin: 1rem 0;
  }
  .bullets {
    p {
      border-bottom: solid 1px $color-grey;
      line-height: 3rem;
      margin: 0;
    }
  }
}

.pricing-panel-product {
  margin-top: -10rem;
  .pricing-panel {
    margin-top: 0;
    padding: 0;
    background: none;
  }
}










/* ---------------------- Featured On Panel ---------------------- */

.ip-address p {
  width: 100%;
  background: #fffce0;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  color: #3e362d;
  display: inline-block;
  font-weight: 400;
}















/* ---------------------- Featured On Panel ---------------------- */

.panel-featured-on {
  background: $color-primary;
  padding-bottom: 4rem;
  color: white;
  h2.sub {
    font-size: 1.5rem;
    margin: 3rem 0 1rem;
    font-weight: 400;
  }
  .accreditation {
    text-align: center;
    img {
      width: 80%;
      margin: 1rem 0 0;
    }

    p {
      font-size: 1.1rem;
    }
    a {
      color: white;
    }
  }
}

























/* ---------------------- Product Hero ---------------------- */

.product-shot-main {
  img {
    margin-top: -200px;
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 2rem;
  }
}

























/* ---------------------- Product Box ---------------------- */

.product-box {
  margin-bottom: 2rem;
  padding: 0 2rem;
  h2 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
  }
  p {
    font-size: 1rem;
    .intro {
      font-size: 1.1rem;
      font-weight: 600;
      display: block;
    }
  }
  .image-holder {
    margin: 0 0 2rem;
    height: 240px;
    vertical-align: middle;
  }
}

























/* ---------------------- Buttons ---------------------- */

.btn {
  border-radius: 2px;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}

.btn-primary {
  background: $color-highlight;
  border-color: $color-highlight;
}


.btn-secondary {
  background: white;
  border-color: rgba($color-black, 0.35);
  color: $color-black;
}



.btn-cta {
  background: $color-primary;
  color: white;
}

.btn-cta {
  margin: 2rem 0 3rem;
  background: $color-primary;
  color: #2a2b2c;
  border-radius: 2px;
  min-width: 200px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border: 0;
}

.btn-cta-normal {
  background: $color-primary;
  color: #2a2b2c;
}

























/* ---------------------- Login ---------------------- */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100px;
    margin-top: 100px;
  }
  h2 {
    margin-top: 1.5rem;
  }
  .form-control {
    margin-bottom: 16px;
  }
}

























/* ---------------------- Product Page ---------------------- */

.delivery {
  margin-top: 54px;
  background: $color-grey;
  padding: 24px 4px;
  text-align: center;
  font-weight: 600;
  line-height: 1rem;
}

.panel-store {
  margin: 2rem 0;
  img {
    width: 100%;
    margin: 2rem 0;
  }
  p.version {
    margin: 0;
    text-transform: uppercase;
  }
  p.intro {
    font-size: 1.15rem;
  }
  .option-box {
    padding: 1rem 1rem 1.5rem;
    border: solid 1px grey;
    margin: 0 0 1rem;
    &.selected {
      background: #fff7e8;
      border-color: #ffda00;
    }
    h4.version {
      font-size: 1.15rem;
      font-weight: 600;
      margin: 0.5rem 0;
    }
    p.price {
      font-size: 2rem;
      margin: 0.5rem 0;
    }
    p.discount {
      text-decoration: line-through;
      color: red;
      font-size: 1.15rem;
      margin: 0;
    }
  }
  ul {
    margin: 2rem 0 0;
  }
}

























/* ---------------------- Footer ---------------------- */

footer {
  color: $color-black;
  padding: 4rem 0 8rem;
  background: $color-grey;
  .form-group {
    display: inline-block;
  }
  .style-svg {
    fill: $color-black;
    height: $h-input-lg;
    width: auto;
  }
  h5 {
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 0.65;
    margin-bottom: 2rem;
  }
  .menu {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
      a {
        color: $color-black;
      }
    }
  }
  .footer-base {
    margin: 3rem 0 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }
}

























/* ---------------------- Contact Form  ---------------------- */

.wpcf7 {
  label {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
  }
  p {
    margin: 0 0 0.5rem;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #fff;
    height: $h-input-lg;
    color: #000;
    width: calc(100% - 120px);
  }
  input[type="submit"] {
    height: $h-input-lg;
    margin-left: -1px;
    background: $color-primary;
    color: white;
    width: 120px;
  }
}

























/* ---------------------- Woo ---------------------- */

.banner-refund {
  background: $color-grey;
  height: 88px;
  line-height: 88px;
  margin-top: 56px;
  font-weight: 600;
  font-size: 16px;
  img {
    max-height: 40px;
    width: auto;
    margin-right: 16px;
  }
}

.woocommerce {

  .container {
    margin-top: 1.5rem;
  }
  .navbar {
    background: white !important;
    border-bottom: solid 1px $color-border;
    transition: 0.4s;
    box-shadow: 0 3px 3px rgba($color-black, 0.05);
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand {
      background-image: url("../assets/images/logo-invizbox.png");
    }
    .nav-link {
      color: $color-black;
    }
  }
  .col-1,
  .col-2 {
    max-width: none;
  }
  /* ---------------------- Woo Product Page ---------------------- */
  div.product p.price del,
  div.product span.price del {
    display: block;
  }

  .quantity .qty {
    width: 3.631em;
    text-align: center;
    display: none;
  }

  div.product form.cart .button {
    vertical-align: middle;
    float: none;
    display: block;
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    background: $color-primary;
  }


  div.product p.price,
  .product span.price {
    color: $color-primary;
    font-size: 1.25em;
  }

  span.onsale {
    background: $color-highlight;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 0;
    font-size: 1.25rem;
    top: 0;
    left: 0;
  }
}

























/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */


/* ---------------------- Media Queries ---------------------- */

@media (min-width: 768px) {
  /* ---------------------- Navigation ---------------------- */
  .nav-link {
    margin: 0 1rem;
  }
  /* ---------------------- Typography ---------------------- */
  .h1,
  h1 {
    font-size: 3rem;
    line-height: 3.75rem;
  }
  h2 {
    font-size: 3rem;
    margin: 5rem 0 2rem;
  }
  h2.caps {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  p.tagline {
    font-size: 1.5rem;
  }

  /* ---------------------- Panels ---------------------- */
  .panel-testimonial {
    p.testimonial {
      font-size: 1.25rem;
      clear: none;
      font-style: italic;
    }
  }
  .bucket-detail {
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    img {
      max-height: 400px;
      margin: 4rem 0;
    }
  }
  /* ---------------------- Buckets ---------------------- */
  .bucket-steps {
    padding: 0;
  }
  /* ---------------------- Product Box ---------------------- */
  .product-box {
    margin-bottom: 2rem;
    padding: 0 2rem;
    h2 {
      font-size: 1.5rem;
      margin: 0 0 1rem;
    }
    p {
      font-size: 1rem;
    }
    .image-holder {
      margin: 0 0 2rem;
      height: 240px;
      vertical-align: middle;
    }
  }
  /* ---------------------- Jumbotron ---------------------- */
  .jumbotron {
    .jumbotron-detail {
      padding: 10rem 0;
    }
    .jumbotron-detail-product {
      h1 {
        font-size: 4rem;
        line-height: 5rem;
      }
      p.lead {
        font-size: 1.75rem;
        line-height: 2.75rem;
        margin: 1rem 0 2rem;
      }
    }
  }
}
