/* ---------------------- Jumbotron ---------------------- */

.jumbotron {
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0;
  margin-bottom: 0;
  background-size: 0, 0 !important;
  position: relative;



  .jumbotron-notification {
    background: yellow;
    text-align: center;
    max-width: 80%;
    width: auto;
    position: absolute;
    top: 7rem;
    margin: 0 auto; // display: inline-block;
    padding: 0.5rem 2rem;
    display: none;
  }
  .jumbotron-detail {
    text-align: center;
    max-width: 600px;
    padding: 10rem 2rem;
    h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    p.lead {
      font-size: 1.35rem;
      line-height: 2rem;
    }
    .btn {
      padding: 0.75rem 1.25rem;
    }
  }
  /* ---------------------- Product Page  ---------------------- */
  &.jumbotron-product {
    background-color: rgba($color-primary, 0.05);
  }


  .jumbotron-detail-product {
    padding: 8rem 2rem 0;
    text-align: center;
    p.product {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.85rem;
      margin-bottom: 2rem;
    }
    h1 {
      font-size: 4rem;
      line-height: 4.5rem;
    }
    p.lead {
      font-size: 1.35rem;
      line-height: 2rem;
    }
    p.guarantee {
      color: lighten($color-black, 20%);
      font-size: 0.85rem;
    }
    .btn-cta {
      margin: 1rem 0;
    }
  }

  .jumbotron-product-image {
    img {
      max-width: 100%;
    }
  }
  /* ---------------------- Homepage  ---------------------- */
  &.jumbotron-homepage {
    background-color: $color-black;
    color: white;

    span.hero-testimonial {
      position: absolute;
      right: 40px;
      bottom: 40px;
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .jumbotron {
    background-size: auto !important;

    /* ---------------------- Homepage  ---------------------- */
    &.jumbotron-homepage {

      span.hero-testimonial {
        display: block;
      }

      .jumbotron-detail {
        padding: 12rem 0 14rem;
        text-align: left;
        max-width: 800px;
        h1 {
          font-size: 3.5rem;
          line-height: 4.25rem;
        }
      }
    }



    /* ---------------------- Product Page  ---------------------- */
    .jumbotron-detail-product {
      padding: 9rem 0;
      text-align: left;

      p.product {
        font-weight: 700;
      }
    }

    .jumbotron-product-image {
      img {
        max-width: 100%;
      }
    }
  }
}
