/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #27ae60
);

$color-primary: #3ca098;
$color-highlight: #f15451;
$color-green: #087b8a;
$color-black: #2a2b2c;
$color-grey: whitesmoke;
$color-border: #e0e0e0;
$color-notification: #fffc9a;

$h-navbar-lg: 56px;
$h-input: 40px;
$h-input-lg: 48px;
